<hr>
<h5> No sharer: Sorry, your not signed up to be a tutor! </h5>
	<br>
	Click here to sign up:
	<%= link_to raw("Become a tutor"), new_sharer_path, :class => 'btn btn-small btn-success' %>
	
	

<hr>
