<div class="span12">
<h2>New Workshop</h2>
<hr>

<!-- If current user is not a sharer --> <!-- Juhee-->
<% if !current_user.is_sharer? %>
<%= render :partial => "no_sharer" %>

<!-- If current user is a sharer and has a workshop-->  <!-- Rupa-->
<% elsif current_user.is_sharer? && current_user.has_workshop? %>
<%= render :partial => "sorry" %>

<!-- If current user is a sharer and has no workshop--> <!-- Ryan-->
<% else %> 
<%= render 'form' %>

<% end%>

<hr>

<%= link_to 'Back', sharers_path, :class => 'btn btn-mini' %> 
</br>
</br>

</div>