<div class="span10">
	
<h2><%= current_user.proper_name%>'s Dashboard</h2>
<hr>

<p><b> Name: </b><%= current_user.proper_name %></p>
<p><b> Interests: </b><%= current_user.interests %></p>
<p><b> Major: </b><%= current_user.major %></p>





<br>
<br>
<br>


</div>
