<div class="span10">
	
<h2>FAQ Page</h2>
<hr>
<ol>

	
<li> <i> <b> How do I view a list of workshops? </b></i>

	<p>	<br> Click the “Workshops” button located in the top navigation bar. </p>
</li>

<br>

<li> <i> <b>How do I find out more about a specific workshop?</b></i>

	<p>	<br> Click on the title of the workshop. </p>
</li>

<br>

<li> <i> <b>How do I post a workshop?</b></i>

	<p>	<br>Navigate to the bottom of the “Workshops” page and click the “Create a new workshop” button. </p>
</li>

<br>

<li> <i> <b>How many workshops can I post?</b></i>

	<p>	<br> You can only have one active workshop at a time. </p>
</li>

<br>

<li> <i> <b>How do I enroll in a workshop?</b></i>

	<p>	<br> You can enroll by clicking the “Subscribe” button on the “Workshops” page or by clicking the “Subscribe” button on the “Workshop Detail” page.
	 </p>
</li>

<br>

<li> <i> <b>How many workshops can I enroll in?</b></i>

	<p>	<br> You can enroll in as many workshops as you want.
	 </p>
</li>

<br>

<li> <i> <b>How do I show interest in a workshop?</b></i>

	<p>	<br> By clicking the “^” arrow next to the workshop. You can also click the down arrow but only after you have previously clicked the “^” arrow.
	 </p>
</li>

<br>

<li> <i> <b> What is upvoting/downvoting?</b></i>

	<p>	<br> Upvoting is showing you are interested in the workshop. The workshops are listed in order of most upvotes to least up votes. Downvoting is taking away your interest for a specific workshop. You cannot downvote a workshop that you have not previously upvoted. Note that upvoting a workshop is not the same as enrolling in one.
	 </p>
</li>

<br>

<li> <i> <b>How do I learn more about who is teaching the workshop? </b></i>

	<p>	<br> Click on the name of the tutor who is teaching the workshop from any page the name is listed.
	
	 </p>
</li>


</ul>

<br>
<br>
<br>


</div>
