
<div class="span1">

</div>

<div class="span11">
<br>
<h4>

<br>
<div class="hero-unit">
	<h2>Welcome to Scotty Skills</h2>
	  <tagline>Students connecting with students to teach and learn</tagline>
	<br>
	<br>
	
					<p>There are many interests Carnegie Mellon students have in interdisciplinary areas. For 
					example. many Computer Science students want to learn design software, or many 
					Business Students want to learn how to code an iPhone application. In college, many 
					students know how to do these tasks, while many people want to learn them. Although 
					some of these skills can be taught in courses, many students cannot make this semester 
					commitment for a non-major requirement. Our web application solves this problem. When CMU students enter the website, they can add the workshops they 
					could teach (i.e. "How to build an iPhone application), and students can vote up certain 
					ones they deem interesting. The goal of this web-based application is to CMU students to 
					learn what they are interested in, outside the classroom. This application could have the 
					potential to revolutionize the way college students learn.</p>
					<br>
					<p> <%= link_to "Learn more", faq_path, :class => "btn btn-info btn-medium"%></p>
						</div>
					<br/>
					<br/>

<br>

<hr>

</div>

